<div class="flex px-7 py-6 bg-light">
  <div class="flex-1 text-base font-semibold">Matt Dickerson</div>
  <div class="flex-1 text-base font-semibold">Dermatology</div>
  <div class="flex-1 text-base font-semibold">13/05/2022</div>
  <div class="flex-1 text-base font-semibold">passe</div>
  <div class="flex-1 text-base font-semibold flex gap-2">
    <img src="assets/icons/more-square.svg" alt="" srcset="">
    <img src="assets/icons/edit.svg" alt="" srcset="">
    <img src="assets/icons/trash.svg" alt="" srcset="">
  </div>
</div>

