<div class="flex px-7 py-6 bg-light">
  <div class="flex-1 text-base font-semibold">Lorem ipsum</div>
  <div class="flex-1 text-base font-semibold">Matt Dickerson</div>
  <div class="flex-1 text-base font-semibold">Dickerson</div>
  <div class="flex-1 text-base font-semibold">13/05/2022</div>
  <div class="flex-1 text-base font-semibold flex gap-2">
    <button type="button" (click)="toggleModalMore()"><img src="assets/icons/more-square.svg" alt="" srcset=""></button>
    <button type="button" (click)="toggleModalUpdate()"><img src="assets/icons/edit.svg" alt="" srcset=""></button>
    <img src="assets/icons/trash.svg" alt="" srcset="">
  </div>
  <div *ngIf="showModalMore" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-1/3 my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Information sur le control
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-dark opacity-1 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModalMore()">
            <span class="bg-transparent text-dark opacity-1 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">
            I always felt like I could do anything. That’s the main
            thing people are controlled by! Thoughts- their perception,
            I always felt like I could do anything. That’s the main
            thing people are controlled by! Thoughts- their perception.
          </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="text-error background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModalMore()">
            Fermer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModalMore" class="opacity-25 fixed inset-0 z-40 bg-black"></div>

  <div *ngIf="showModalUpdate" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-1/2 my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Modifier les informations du control
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-dark opacity-1 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModalUpdate()">
            <span class="bg-transparent text-dark opacity-1 h-6 w-6 text-2xl block outline-none focus:outline-none">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <div class="flex flex-col gap-10">
            <div class="">
              <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Type de control</label>
              <input type="text" id="type" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-blue-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-blue-500" placeholder="Ahmen Laili" required>
            </div>
            <div class="">
              <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Description</label>
              <textarea id="description" rows="4" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-blue-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-blue-500" placeholder="Votre Adress..."></textarea>
            </div>
            <div class="">
              <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Date</label>
              <input type="date" id="date" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-blue-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-blue-500" placeholder="HH3458789" required>
            </div>
          </div>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="text-error background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModalUpdate()">
            Fermer
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showModalUpdate" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>
