<div class="flex h-screen text-dark flex-wrap">
  <div class="flex-1 flex flex-col gap-24 px-8 py-9">
    <div class="flex items-center justify-between">
      <div class="logo">
        <img src='assets/images/logo.png' alt="">
      </div>
      <div class="singUpLink">
        <p>Vous n'avez pas un compte? <a href="http://" class="text-primary font-bold">Registre</a></p>
      </div>
    </div>
    <div class="flex items-center gap-16 flex-col px-28">
      <div class="text-center">
        <h1 class="font-bold text-5xl">Content de te Revoir</h1>
        <h3 class="text-lg mt-3">Connectez-vous à votre compte</h3>
      </div>
      <div class="grid gap-14 w-full">
        <div class="">
          <label for="cin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">CIN</label>
          <input type="text" id="cin" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-blue-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-blue-500" placeholder="HH3458789" required>
        </div>
        <div class="">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">DMed Code</label>
            <input type="password" id="password" class="block p-4 w-full text-gray-900 bg-gray-50 rounded-lg  border-gray-300 sm:text-md focus:ring-blue-500 focus:border-2 border-2 shadow-md outline-none focus:border-solid border-slate-200 focus:border-blue-500" placeholder="•••••••••" required>
        </div>
        <button type="button" class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log In</button>
      </div>
    </div>
  </div>
  <div class="flex-1 bg-[url('assets/images/login.png')] bg-cover bg-center relative">
    <div class="backdrop-blur-md bg-white/30 p-6 rounded-xl flex flex-col gap-6 w-96 absolute bottom-52 left-28">
      <div class="flex gap-2 p-3 bg-primary rounded-lg w-fit">
        <img src='assets/icons/thumbs-up.svg' alt="">
        <p class="text-light font-semibold">Tous votre donnes dans un seule place</p>
      </div>
      <p class="text-lg text-light font-bold">Lorem ipsum, dolor sit, molestias enim accusamus placeat incidunt, est animi praesentium.</p>
    </div>
  </div>
</div>

