<nav class="bg-white border-b-2 border-slate-200 py-2.5 rounded dark:bg-gray-800">
  <div class="px-14 flex flex-wrap justify-between items-center mx-auto">
    <a href="https://flowbite.com" class="flex items-center">
      <img src="assets/images/logo.png" class="h-12" alt="DMed Logo">
    </a>
    <div class="flex items-center md:order-2">
      <a class="flex gap-2 items-center mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
        <div class="w-12 h-12 rounded-full flex justify-center items-center bg-primary">
          <p class="text-light font-bold">MA</p>
        </div>
        <p class="text-dark text-lg">Mohemeb Ahmed</p>
      </a>
    </div>
  </div>
</nav>

