<div class="w-fit p-10 bg-white rounded-lg border border-slate-200 shadow-md">
  <h1 class="text-dark mb-10 text-xl font-bold">Les information du patient</h1>
  <div class="flex gap-20 justify-center">
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Nom:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">Lorem ipsum</p>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Type de sange:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">+A</p>
      </div>
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Poit:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">60 Kg</p>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Longeur:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">1,75</p>
      </div>
    </div>
    <div class="flex flex-col gap-10">
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Diabitique:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">OUI</p>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-primary text-md uppercase rounded-md bg-blueBg px-2 py-1 w-fit">Maladi historique:</h1>
        <p class="text-dark font-semibold text-2xl leading-relaxed">Lorem, ipsum, dolor.</p>
      </div>
    </div>
  </div>
</div>
